:root {
    --green: #B9FF66;
    --dark: #191A23;
    --white: #FFFFFF;
    --grey: #F3F3F3;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
}

.margin-0 {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.link:hover {
    background: var(--green);
}

.menu {
    display: flex;
    align-items: center;
}

.btn {
    border-radius: 14px;
    padding: 20px 35px;
    background: transparent;
    color: var(--white);
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.3s;
    display: block;
}

.btn:hover {
    background: var(--green);
}

.btn_text-b {
    color: var(--dark);
}

.btn_text-w {
    color: var(--white);
}

.btn_bg-b {
    background: var(--dark);
}

.btn_bg-b:hover {
    color: var(--dark);
}

.col {
    width: 50%;
}

.section-one {
    margin-top: 70px;
}

.section-one h1 {
    font-size: 3.75em;
}

.section-one p {
    font-size: 1.25em;
    padding: 35px 33px 35px 0;
    line-height: 28px;
}

.col-2 {
    width: calc(100% / 6);
}

.section-two {
    margin-top: 70px;
}

.section-two img {
    display: block;
    filter: grayscale(100%);
}

.section-three {
    margin: 140px 0;
}

.service_info {
    padding: 50px;
    background: var(--grey);
    border-radius: 45px;
    border: 1px solid var(--dark);
    box-shadow: 0 5px 0 0 var(--dark);
    display: flex;
    flex: 1;
}

.service_info:nth-last-child(1) {
    flex: none
}

.service_info_black {
    background: var(--dark);
}

.service_info_green {
    background: var(--green);
}

.service_info_grey {
    background: var(--grey);
}

.service_info_green h2, .service_info_black h2 {
    background: var(--white) !important;
}

.service_info_black .btn_more > div {
    background: var(--white) !important;
}

.service_info__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service_info h2 {
    border-radius: 7px;
    background: var(--green);
    font-size: 1.87em;
    display: inline-block;
}

.btn_more {
    display: flex;
    align-items: center;
}

.btn_more > div {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.btn_more > div::before {
    content: '';
    display: block;
    background-image: url('../img/Arrow_b.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.service_info_black .btn_more a {
    color: var(--white);
}

.service_info_black .btn_more > div::before {
    background-image: url('../img/Arrow_w.svg');
}

.btn_more a {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--black);
    padding-left: 15px;
}

.section-four {
    max-height: 347px;
    padding: 23px 0;

}

.happy {
    padding: 60px;
    border-radius: 45px;
    background: var(--grey);
}

.happy_lets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.happy_lets h3 {
    font-size: 1.8em;
}

.happy_lets p {
    padding: 26px 0;
}

.happy_img {
    position: relative;

}

.happy_img img {
    position: absolute;
    top: -50%;
    right: 0;
}


.section-five {
    padding: 140px 0;
}

.case-label {
    display: flex;
    align-items: center;
}

.case-title {
    font-size: 2.5em;
}

.case-text {
    max-width: 580px;
    padding-left: 40px;
}

.case-content {
    background: var(--dark);
    border-radius: 45px;
    color: var(--white);
    padding: 70px 60px;
}

.case-box {
    width: calc(100% / 3);

}

.case-box p {
    margin-bottom: 20px;
}

.link-arrow {
    color: var(--green);
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
}

.link-arrow::before {
    content: '';
    display: block;
    background-image: url('../img/Arrow_b.svg');
    width: 21px;
    position: absolute;
    top: 0;
    right: -40px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;

}

/*footer*/

.footer {
    border-radius: 45px 45px 0 0;
    background: var(--dark);
    padding: 60px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-soc {
    display: flex;
    gap: 20px;
    overflow: hidden;

}

.footer-soc a {
    transition: 0.3s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer-soc a:hover {
    background: var(--green);
}

.footer-navigation {
    display: flex;
    gap: 10px;

}

.footer-navigation a {
    padding: 20px;
    color: var(--white);
    transition: .3s;
    font-size: 1.2em

}

.footer-navigation a:hover {
    color: var(--green);

}
.footre-contant{
    padding: 65px 0 55px 0;
}
.footer-form__lable{
}
.footer-form__lable input{
    border-radius: 14px;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1.3em;
    color: var(--white);
    border: 1px solid var(--white);
}


.footer-form{
    padding: 60px 40px;
    background: #292A32;
    border-radius: 14px;
    display: flex;
    gap: 20px;
}

.footer-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
}
.footer-cont a{
    color: var(--white);
    font-size: 1.2em;
    text-decoration: none;
}
.footer-copyright{
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--white);
}
.footer-copyright a{
    color: var(--white);

}
