<div class="header">
    <div>
        player: player - {{playerScore }}
    </div>
    <div>
        player: computer - {{ computerScore }}
    </div>
    <div>
        <label><input [formControl]="timerForm" type="text"></label>
    </div>
    <div class="control">
        <button (click)="startGame()" [disabled]="disabledStart">start</button>
        <button (click)="resetGame()">reset</button>
    </div>
    <div class="grid">
        @for (item of gridCells; track item; let i = $index) {
            <div class="cell" [ngClass]="gridStateCells[i]" (click)="onSelectItem(i)">{{ i }}</div>
        }
    </div>
</div>
